@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1 class="index-header">Aspirations University</h1>
</div>
<div class="container pb-4">
    <img src="./university.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Aspirations University</h2>
        <p>
            Aspirations University is a university that emphasizes hands on learning to ensure total preparation for future endeavors.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build skills from scratch</h2>
        <p>You can build the application by following one of our career or skill plans</p>
    </div>
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>You can visit our About page to learn more about what we offer.</p>
        <p><a class="btn  btn-primary" href="/Home/About">Learn More</a></p>
    </div>
</div>
